<div class="bg-main-bg w-screen flex items-center justify-center pt-[10%] pb-[10%]">
    <section class="h-fit w-screen  bg-transparent pb-16 rounded shadow-sm flex  justify-center">
        <div class="flex lg:flex-row sm:flex-col pt-[5%] mx-auto ">
            <div class="flex w-[100%] justify-start"><img src="../../../assets/images/forestdelic.png" class="rounded shadow-md shadow-black"></div>
            <div class="flex flex-col w-[100%] justify-center items-center"><h1 class="text-white text-3xl font-extrabold text-center shadow">FORESTDELIC LABEL NIGHT IN GOA <br><br> ON 11TH FEB 2023</h1>
                <h1 class="text-black text-3xl font-normal text-center"><br><br> Music Shows | English | 21yrs + | 12hrs<br></h1>
                <span class="pt-[10%]"><button class="p-3 shadow-sm shadow-black rounded-md font-bold text-white bg-violet-800">BOOK NOW</button></span>
            </div>
        </div>
    </section>
</div>
<div class="bg-white w-screen h-fit">
    <section class="h-fit w-screen  bg-transparent rounded shadow-sm flex justify-center">
        <div class="flex lg:flex-row sm:flex-col mx-auto ">
            <div class="flex w-[100%] justify-start"><img src="../../../assets/images/edited logo.png" class="rounded"></div>
            <div class="flex flex-col w-[100%] justify-center items-center"><h1 class="text-black text-3xl font-extrabold text-center">WHY EVENT ERA ?..</h1>
                <h1 class="text-black text-3xl font-normal text-center"><br><br>Our vendors provide awesome <br> events and Trips for you!!!. <br></h1>
                <span class="pt-[10%]"><button class="p-3 shadow-sm shadow-black rounded-md font-bold text-white bg-violet-900" routerLink="/sign-up">REGISTER NOW</button></span>
            </div>
        </div>
    </section>
</div>
<div class="">

</div>
