<div class="sm:h-screen flex justify-center items-center">
    <app-carousel></app-carousel>
</div>
<div class="bg-white w-screen h-fit">
    <section class="h-fit w-screen  bg-transparent rounded shadow-sm flex justify-center">
        <div class="flex lg:flex-row sm:flex-col mx-auto ">
            <div class="flex w-[100%] justify-start"><img src="../../../assets/images/edited logo.png" class="rounded"></div>
            <div class="flex flex-col w-[100%] justify-center items-center"><h1 class="text-black text-3xl font-extrabold text-center">WHY EVENT ERA ?..</h1>
                <h1 class="text-black text-3xl font-normal text-center"><br><br>Our vendors provide awesome <br> events and Trips for you!!!. <br></h1>
                <span class="pt-[10%]"><button class="p-3 shadow-sm shadow-black rounded-md font-bold text-white bg-violet-900" routerLink="/sign-up">REGISTER NOW</button></span>
            </div>
        </div>
    </section>
</div>
<div class="">

</div>
