<div class="py-2" *ngFor="let ticket of tickets">
	<div class="ticket p-3 " >
		<div class="left">
			<div class="image" style="background-image: url('{{ticket.event.image_url}}');">

				<p class="admit-one" *ngIf="ticket.status == 'Active'">
					<span>ADMIT {{ticket.quantity}}</span>
					<span>ADMIT {{ticket.quantity}}</span>
					<span>ADMIT {{ticket.quantity}}</span>
				</p>
				<p class="admit-one text-red-700" *ngIf="ticket.status == 'Cancelled'">
					<span class="text-red-700">ADMIT Cancelled</span>
					<span class="text-red-700">ADMIT Cancelled</span>
					<span class="text-red-700">ADMIT Cancelled</span>
				</p>
				<div class="ticket-number">
					<p>
						{{ticket._id}}
					</p>
				</div>
			</div>
			<div class="ticket-info w-full" [ngClass]="{'bg-red-500':ticket.status == 'Cancelled'}">
				<p class="date" *ngIf="ticket.status == 'Active'">
					<span>{{ticket.event.date | date : 'EEEE'}}</span>
					<span class="june-29">{{ticket.event.date | date : 'MMM d' }}</span>
					<span>{{ticket.event.date | date : 'y'}}</span>
				</p>
				<p class="date" *ngIf="ticket.status == 'Cancelled'">
					<span>Cancelled</span>
					<span class="june-29">Cancelled</span>
					<span>Cancelled</span>
				</p>
				<div class="show-name">
					<h1>{{ticket.event.title}}</h1>
					<h2>{{ticket.event.venue}}</h2>
				</div>
				<div class="time">
					<p>{{ticket.event.description}}</p>
					
				</div>
				<p class="location"><span>East High School</span>
					<span class="separator"><i class="far fa-smile"></i></span><span>Salt Lake City, Utah</span>
				</p>
			</div>
		</div>
		<div class="right flex justify-end items-end">
			<p class="admit-one">
				<span>ADMIT {{ticket.quantity}}</span>
				<span>ADMIT {{ticket.quantity}}</span>
				<span>ADMIT {{ticket.quantity}}</span>
			</p>
			<div class="self-end right-info-container">
				
				<div class="time">
					<p>8:00 PM <span>TO</span> 11:00 PM</p>
					<p>DOORS <span>@</span> 7:00 PM</p>
				</div>
				<div class="barcode">
					<img src="https://external-preview.redd.it/cg8k976AV52mDvDb5jDVJABPrSZ3tpi1aXhPjgcDTbw.png?auto=webp&s=1c205ba303c1fa0370b813ea83b9e1bddb7215eb" alt="QR code">
				</div>
				<p class="ticket-number">
					#20030220
				</p>
			</div>
		</div>
	</div>
	<button class="p-3 bg-red-600 mt-1 mb-3 rounded uppercase text-bold" (click)="cancelEvent(ticket._id)" *ngIf="ticket.status == 'Active'">cancel this event</button>

</div>
